@media all and (max-width: 1000px) {
	.bagian-utama h1{
		font-size: 32px;
		animation: none;
	}
}

@media (max-width: 670px) {

  .header-right{
    display:none;
  }

  .menu-icon{
    display:block;
  }

  .btn{
    color: #FFF;
    font-size: 12px;
    margin-right: 5px;
    margin-top:10px;
  }
  
  p{
    font-size:11px;
    margin-left:10px;
  }
}
