*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

header{
  background-color: rgba(47, 53, 66, 0.8);
  position: fixed;
  z-index:10;
  top:0;
  height: 65px;
  width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.kelompok {
  font-size: 25px;
  font-style: oblique;
  font-weight: 1000;
}

.kelompok a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  animation-name: logo;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0%   {color:white; }
  25%  {color:grey; }
  50%  {color:white; }
  75%  {color:grey; }
  100% {color:white; }
}

.menu-1{
  animation-name: menu1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes menu1 {
  0%   {font-size: 16px; }
  50%  {font-size: 24px; }
  100% {font-size: 16px; }
}

.menu-2{
  animation-name: menu2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes menu2 {
  0%   {font-size: 24px; }
  50%  {font-size: 16px; }
  100% {font-size: 24px; }
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.fa {
  margin-right: 5px;
}

/*BAGAIN UTAMA*/

.bagian-utama {
  height: 500px;
  padding: 150px 0 100px 0;
  background-image:url(background1.jpg);
  background-size: cover;
  color: #222f3e ;
  text-align: center;
}

.bagian-utama h1 {
  opacity:0.5;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 0px #D7DACC, 8px 8px 0px rgba(0, 0, 0, 0.1);
  animation-name: example;
  animation-duration: 0.3s;
}


@keyframes example {
  0%   {font-size: 20px;}
  25%  {font-size: 30px;}
  50%  {font-size: 40px;}
  100% {font-size: 50px;}
}
/*Bagian Ekstra 1*/
.bagian-ekstra-1 {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
/*akhir bagian ekstra 1 */

/*Bagian ekstra 2*/
.bagian-ekstra-2{
 
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: left;

}
.main-formulir{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.title-formulir{
  border-bottom : 2px solid #dee7ec;
  font-size : 28px;
  padding-bottom:15px;
  margin-bottom :50px;
  padding-left: 46px;

}
input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}
.contact-submit {
    background-color: #cae1ed;
    color: #474c4f;
}
/*akhir bagian ekstra 2 */

/*Footer*/
.footer{
  height:65px;
  padding:15px;
  background-color:black;
  opacity:0.8;
  color:#fff;
}

.btn{
  color: #FFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: georgia, serif;
  letter-spacing: -1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  float: right;
}

.facebook { 
  background:#3B5998; 
  padding:2px 10px;
}
.twitter { 
  background:#00ACED; 
  padding:2px 10px; 
}

.instagram { 
  background:#D33187; 
  padding:2px 10px;
}

p{
  font-family: georgia, serif;
  opacity:0.8;
  margin-left:40px;
  margin-top:10px;
}

