*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

header{
  background-color: rgba(47, 53, 66, 0.8);
  position: fixed;
  z-index:10;
  top:0;
  height: 65px;
  width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.kelompok {
  font-size: 25px;
  font-style: oblique;
  font-weight: 1000;
}

.kelompok a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  animation-name: logo;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0%   {color:white; }
  25%  {color:grey; }
  50%  {color:white; }
  75%  {color:grey; }
  100% {color:white; }
}

.menu-1{
  animation-name: menu1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes menu1 {
  0%   {font-size: 16px; }
  50%  {font-size: 24px; }
  100% {font-size: 16px; }
}

.menu-2{
  animation-name: menu2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes menu2 {
  0%   {font-size: 24px; }
  50%  {font-size: 16px; }
  100% {font-size: 24px; }
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.fa {
  margin-right: 5px;
}

/*BAGAIN UTAMA*/

.bagian-utama {
  height: 690px;
  padding: 200px 0 100px 0;
  background-image:url(background2.jpg);
  background-size: cover;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.bagian-utama h1 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 0px #34495e, 8px 8px 0px rgba(0, 0, 0, 0.1);
  animation-name: example;
  animation-duration: 0.3s;
}


@keyframes example {
  0%   {font-size: 20px;}
  25%  {font-size: 30px;}
  50%  {font-size: 40px;}
  100% {font-size: 50px;}
}

/*Bagian Ekstra 1*/
.clear {
  clear: left;
}

.ekstra1 {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #D1D0C9;
  text-align: center;
}

.Judul {
  padding-top: 50px;
  padding-bottom: 50px;
  color: /*#362f67*/ white;
}

.Judul h2 {
  font-weight: normal;
  font-size: 50px;
  border-bottom: 5px solid /*#362f67*/ white;
  padding-bottom: 15px;
}

.konten {
  width: 25%;
  border-radius: 30px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
  float: left;
  margin-left: 65px;
  margin-bottom: 100px;
  padding: 10px 0;
}

.profil {
  position: relative;
}

.profil-text p{
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  color: /*#362f67*/ white ;
  margin-bottom:8px;
}

.bawah{
  margin-left: 230px;
}

.profil {
  border-radius: 50%;
}

.konten:hover {
  box-shadow: 0px 6px 35px rgba(0,0,0,0.8);
  background-color: /*#ebeced*/ #CFC9BD;
}

/*akhir bagian ekstra 1 */

/*Bagian ekstra 2*/
.img-responsive{
  display: block;
max-width: 100%;
height: auto;
padding-left: 5%;
}
.bagian-ekstra-2{
  background-size: cover;
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: left;

}
.main-formulir{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.title-formulir{
  border-bottom : 2px solid #dee7ec;
  font-size : 28px;
  padding-bottom:15px;
  margin-bottom :50px;
  padding-left: 46px;
  text-align: center;

}
.kritik{
  border-bottom : 2px solid #dee7ec;

}
.form-formulir{
 border-width: 1pt;
 border-style: dashed;
 border-color: #00ACED;
 
}
input, textarea {
  padding: 20px 20px;
  width: 90%;
  background: none;
  border: 1px solid #a06363;
  margin: 10px 10px;
  font-size: 15px;
}
.form-formulir{

    display: flex;
}
.input-kiri{
  flex-basis: 50%;
}
.input-kanan{
  flex-basis: 50%;
}
.contact-submit {
  width: 90%;
   background-color: #cae1ed;
    color: #474c4f;
}
/*akhir bagian ekstra 2 */

/*Footer*/
.footer{
  height:65px;
  padding:15px;
  background-color:black;
  opacity:0.8;
  color:#fff;
}

.btn{
  color: #FFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: georgia, serif;
  letter-spacing: -1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  float: right;
}

.facebook { 
  background:#3B5998; 
  padding:2px 10px;
}
.twitter { 
  background:#00ACED; 
  padding:2px 10px; 
}

.instagram { 
  background:#D33187; 
  padding:2px 10px;
}

.footer-copy p{
  font-family: georgia, serif;
  opacity:0.8;
  margin-left:40px;
  margin-top:10px;
}

